body {
    background-color: #F0EBD8;
    overflow: hidden;
}
ul.nav {
    background-color: #A2243A;
    padding: 20px;
}
button.nav-link {
    background-color: #A2243A;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
div.col-3, div.col-9 {
    overflow-y: scroll;
    height: 671px;
}
div.workspace {
    overflow-y: scroll;
    height: 580px;
}
div.card {
    background-color: #A2977C;
    margin: 15px 0;
}
div.card:hover {
    outline: 3px solid #A2243A;
    cursor: pointer;
    color: #A2243A !important;
}
div.top {
    padding: 0;
}
h5 {
    color: black; 
    font-weight: bold;
}
p {
    font-style: italic;
    font-weight: bold;
}
div.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 25%;
    height: 400px;
    margin: auto;
    margin-top: 70px;
    border: 2px solid #A2243A;
    border-radius: 5px;
    box-shadow: 0px 11px 20px black;
}
div.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 25%;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid #A2243A;
    border-radius: 5px;
    box-shadow: 0px 11px 20px black;
}
div.login input {
    margin-top: 50px;
    padding: 7px;
    font-style: italic;
    border: 2px solid #A2243A;
    border-radius: 5px;
}
div.register input {
    margin-top: 30px;
    padding: 7px;
    font-style: italic;
    border: 2px solid #A2243A;
    border-radius: 5px;
}
h3 {
    margin-top: 30px;
    color: #A2243A;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
div.login button, div.register button, .postbutton {
    margin-top: 40px;
    width: 100px;
    padding: 10px;
    background-color: #A2243A;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
div.login button:hover, input:focus {
    box-shadow: 0px 10px 10px black;
}
.postbutton:hover {
    background-color: #A2243A;
}
ul.nav li:hover {
    color: white;
    cursor: pointer;
}
.postbutton {
    margin-right: 10px;
}
.create {
    width: 150px;
}
.myModalBack {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
  }
  
.myModal {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 100%;
    max-width: 500px;
    transform: translate(-50%, -50%);
    
  }
.modal-dialog {
    border: 2px solid #A2243A;
    border-radius: 5px;
    box-shadow: 0px 11px 20px black;
}
label {
    font-style: italic;
    color: #A2243A;
    font-weight: bold;
}
.myModal input, textarea {
    border-color: #A2243A !important;
}
button.close, button.close:hover {
    color: #A2243A;
    font-weight: bold;
}
.modal-header, .modal-footer {
    border: none;
}


